
.stApp {
    background-color: #FAFAD2;
}


.block-container {
    padding-top: 0px;
}



header, .stApp > header {
    display: none;
}

.video-container {
    width: 140vw; /* Full bredd */
    height: 250px; /* Justera höjden efter behov */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
}

/* Anpassad videobanner */
.banner-video {
    width: 40%;
    height: 70%;
    object-fit: fill; /* Se till att videon fyller hela bannern */
    border-radius: 10px;
    pointer-events: none; /* Förhindra interaktion */
}


/* Ändra bakgrundsfärg på sidopanelen */
.stSidebar {
    background-color: #F0E68C !important;
}

/* Ändra textfärg i sidopanelen */
.stSidebar .css-1d391kg {
    color: #FFFFFF !important;
}


/* Justera sidopanelens padding */
.stSidebar .block-container {
    padding: 20px;
}

/* Styling för reseinformationscontainern */
.res-info-container {
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Dölj checkboxen */
.toggle-checkbox {
    display: none;
}

.toggle-label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    font-size: 0.9rem;
    color: #8B8000; /* Mörk gul/grön ton */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* När man hovrar över toggle-labelen, ändra bakgrund och kantfärg */
.toggle-label:hover {
    background-color: #F0E68C;
    border-color: #DAA520;
}

.toggle-label::after {
    content: "Visa fler stationer";
}

.toggle-checkbox:checked + .toggle-label::after {
    content: "Visa färre stationer";
}

/* Styling för tabellen */
.my-travel-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.my-travel-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Dölj headern */
.my-travel-table thead {
    display: none;
}

/* Visa endast de första 5 raderna som standard */
.table-wrapper table tbody tr:nth-child(n+6) {
    display: none;
}

/* När checkboxen är markerad, visas alla rader */
.toggle-checkbox:checked ~ .table-wrapper table tbody tr {
    display: table-row;
}

/* Hover-effekt för rader */
.my-travel-table tbody tr:hover {
    background-color: #F0E68C;
    border-color: #DAA520;
}
