
.stApp {
    background-color: #FAFAD2;
}


.block-container {
    padding-top: 0px;
}



header, .stApp > header {
    display: none;
}

.video-container {
    width: 140vw; /* Full bredd */
    height: 250px; /* Justera höjden efter behov */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
}

/* Anpassad videobanner */
.banner-video {
    width: 40%;
    height: 70%;
    object-fit: fill; /* Se till att videon fyller hela bannern */
    border-radius: 10px;
    pointer-events: none; /* Förhindra interaktion */
}


/* Ändra bakgrundsfärg på sidopanelen */
.stSidebar {
    background-color: #F0E68C !important;
}

/* Ändra textfärg i sidopanelen */
.stSidebar .css-1d391kg {
    color: #FFFFFF !important;
}


/* Justera sidopanelens padding */
.stSidebar .block-container {
    padding: 20px;
}

